.App {
  text-align: center;
}

.Header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.WelcomeSection {
  padding: 20px;
}

.WelcomeSection img {
  max-width: 100%;
  height: auto;
}

.WelcomeSection p {
  font-size: 1.2em;
  color: #333;
}